* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono Nerd Font Propo;
    font-size: 14px;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
    color: #1e1e2e;
}

tooltip {
    background: #1e1e2e;
    color: #cdd6f4;
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 4px 12px;
    margin: 6px 0 6px 10px;
    border-radius: 8px;
    background: #cdd6f4;
    color: #1e1e2e;
}

#workspaces button.focused {
    background: #cdd6f4;
    color: #1e1e2e;
    min-width: 40px;
}

#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#idle_inhibitor {
    padding: 4px 12px;
    margin: 6px 10px 6px 0;
    border: none;
    border-radius: 8px;
}

#clock {
    background-color: #b4befe;
}

#pulseaudio {
    background-color: #a6e3a1;
}

#cpu {
    background-color: #89dceb;
}

#memory {
    background-color: #fab387;
}

#idle_inhibitor {
    background-color: #f5c2e7;
}