* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono Nerd Font Propo;
    font-size: 14px;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 2px 10px;
    border-radius: 6px;
    margin: 0 4px;;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: #64727D;
    min-width: 40px;
}

#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#idle_inhibitor {
    padding: 2px 10px;
    border-radius: 6px;
    margin: 0 4px;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

#pulseaudio {
    background-color: #64727D;
}

#cpu {
    background-color: #64727D;
}

#memory {
    background-color: #64727D;
}

#idle_inhibitor {
    background-color: #64727D;
}